<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_APPLICATION" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT_ACCESS" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="access" level="info" additivity="false">
        <appender-ref ref="STDOUT_ACCESS" />
    </logger>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="STDOUT_APPLICATION" />
    </root>

</configuration>
